<p id="notice"><%= notice %></p>

<h1>Conference Subthemes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Conference theme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conference_subthemes.each do |conference_subtheme| %>
      <tr>
        <td><%= conference_subtheme.name %></td>
        <td><%= conference_subtheme.conference_theme_id %></td>
        <td><%= link_to 'Show', conference_subtheme %></td>
        <td><%= link_to 'Edit', edit_conference_subtheme_path(conference_subtheme) %></td>
        <td><%= link_to 'Destroy', conference_subtheme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference Subtheme', new_conference_subtheme_path %>
