<p id="notice"><%= notice %></p>

<h1>Subthemes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Belongs to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subthemes.each do |subtheme| %>
      <tr>
        <td><%= subtheme.name %></td>
        <td><%= subtheme.belongs_to %></td>
        <td><%= link_to 'Show', subtheme %></td>
        <td><%= link_to 'Edit', edit_subtheme_path(subtheme) %></td>
        <td><%= link_to 'Destroy', subtheme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtheme', new_subtheme_path %>
