<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
        <% paper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div data-controller="subthemes" data-select-url-value="<%= conference_subthemes_papers_path %>" data-select-param-values="conference_theme_id" >
  <div class="field" >
    <%= form.label :conference_theme_id %>
    <%= form.select :conference_theme_id, options_from_collection_for_select(ConferenceTheme.all, 'id', 'name'), {prompt: "Select a theme"}, {class: 'form-select', data: {ation: "change->select#change"}}%>
  </div>

  <div class="field">
    <%= form.label :conference_subtheme_id %>
    <%= form.select :conference_subtheme_id, (form.object.conference_theme_id? ? ConferenceTheme.find(form.object.conference_theme_id) : []), {}, { id: nil, class: 'form-select', data: { select_target: "select" } }%>
  </div>

</div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
