<%= form_with(model: conference_theme) do |form| %>
  <% if conference_theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conference_theme.errors.count, "error") %> prohibited this conference_theme from being saved:</h2>

      <ul>
        <% conference_theme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
